{% extends "layout.html" %}
{% block body %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">从饭否导入！<a href="{{ url_for('index') }}">回到首页</a></h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" action="{{ url_for('act_import') }}" method=post>
            <div class="row">
            <div class="form-group">
                <label for="tag" class="col-lg-2 col-lg-offset-3">需要导入的标签：（不用加#）</label>
                <div class="col-lg-4">
                    <input type="text" class="form-control" name="tag" id="tag" required>
                </div>
            </div>
            <div class="form-group">
                <label for="page" class="col-lg-2 col-lg-offset-3">读取页数（每页20条）</label>
                <div class="col-lg-4">
                    <input type="text" class="form-control" name="page" id="page" required>
                </div>
            </div>
            <button class="btn btn-info btn-raised" type="submit">导入！</button>
            </div>
        </form>
    </div>
    {% if diaries is not none %}
    <div class="panel-heading">
        <h3 class="panel-title">导入的消息</h3>
    </div>
    <div class="panel-body">
        {% for diary in diaries %}
        <li> {{ diary['date' ] }}  - {{ diary['time'] }} -  {{ diary['text'] }}</li>
        {% endfor %}
    </div>
    {% endif %}
</div>
    
{% endblock %}