{% extends "layout.html" %}
{% block body %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">起床了！<a href="{{ url_for('index') }}">回到首页</a></h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" action="{{ url_for('act_morning') }}">
            <div class="form-group">
                <label for="morning1" class="col-lg-2">固定格式：</label>
                <select name="morning1" id="morning1" class="form-control">
                    <option value="起床了，早安哇！">起床了，早安哇！</option>
                </select>
            </div>
        </form>
    </div>
</div>
    
{% endblock %}