{% extends "layout.html" %}
{% block body %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">查看日记<a href="{{ url_for('index') }}">（回到首页）</a></h3>
    </div>
    <div class="panel-body">
        <form action="{{ url_for('calender') }}" method="post" class="form-inline">
            <label for="d_date">选择日期：</label>
            <input type="date" name="d_date" id="d_date">
            <button class="btn btn-info btn-raised" type="submit">显示</button>
        </form>
    </div>
    {% if statuses is not none %}
        <div class="panel-heading">
            <h3 class="panel-title">{{ d_date }}的日记</h3>
        </div>
        <div class="panel-body">
            <table class="table">
            {% if statuses == []  %}
            这一天没有日记
            {% endif %}
            {% for status in statuses %}
                <tr>
                    <td>{{ status[1] }}</td>
                    <td>{{ status[2] }} {% if status[3] is not none %}<img src="{{ status[3] }}" alt="">{% endif %}<small><a href="{{ url_for('delete', id=status[0]) }}">删除</a></small></td>
                </tr>
            {% endfor %}
            </table> 
        </div>
    {% endif %}
</div>
{% endblock %}